table{
border:2px solid gray;
background-color:white;
}
h2{
color:green;
}
body{
font-family:arial;
background-image:url("bgimg.jpg");
/*background-repeat:no-repeat;
background-repeat:repeat-y;
background-repeat:repeat-x;
*/
background-repeat:repeat;

}
.tdcls{
width:50;
height:40px;
}

div{
border:1px solid black;
padding:10px;
margin-left:400;
width:40%;
height:50%;
background-color:white;

}

input[type=text]{
border:2px solid brown;
}

#btnid{
width:100;
height:30;
background-color:#35a079;
color:white;
align:center;
}

a[class=acss]{
text-decoration:none;
color:red;
}

a:hover {color: #FFCC00}

div:hover{
background-color:#e6e6e6;
}

input[type=text]:focus{
background-color:#efe792;
}


